.node{
    border: solid black     1px;
    background-color: aqua;
    height: 1rem;
    width: 1rem;
}
.node-start{
    background-color: green ;
}
.node-end{
    background-color: red;
}
.visited{
    background-color: blue;
}
.wall{
    background-color: black;
}
.path{
    background-color: yellowgreen;
}
.weight{
    background-color: gray;
}